In [7]:
import pandas as pd
# Set pandas print options to wider terminal display in order to accomodate all columns.
pd.set_option('display.max_columns', 20)
pd.set_option('display.width', 1000)

df = pd.read_csv('assets/Data_Science_Fields_Salary_Categorization.csv') # Read data from local CSV file into pandas dataframe.
print(df)

     Unnamed: 0  Working_Year                 Designation Experience Employment_Status Salary_In_Rupees Employee_Location Company_Location Company_Size  Remote_Working_Ratio
0             1          2020              Data Scientist         MI                FT     6,352,272.00                DE               DE            L                     0
1             2          2020  Machine Learning Scientist         SE                FT    20,688,070.00                JP               JP            S                     0
2             3          2020           Big Data Engineer         SE                FT     8,674,985.00                GB               GB            M                    50
3             4          2020        Product Data Analyst         MI                FT     1,591,390.00                HN               HN            S                     0
4             5          2020   Machine Learning Engineer         SE                FT    11,935,425.00                US               US            L                    50
..          ...           ...                         ...        ...               ...              ...               ...              ...          ...                   ...
602         603          2022               Data Engineer         SE                FT    12,253,703.00                US               US            M                   100
603         604          2022               Data Engineer         SE                FT    10,025,757.00                US               US            M                   100
604         605          2022                Data Analyst         SE                FT    10,264,466.00                US               US            M                     0
605         606          2022                Data Analyst         SE                FT    11,935,425.00                US               US            M                   100
606         607          2022                AI Scientist         MI                FT    15,913,900.00                IN               US            L                   100

[607 rows x 10 columns]